* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'El Messiri', sans-serif;
    scroll-behavior: smooth;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
h1 {
    font-size: 2rem;
    color: #012B55;
}
.headertext {
    text-decoration: none;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    cursor: pointer;
}
.burger {
    color: #012B55;
}
.clsbtn {
    color: #012B55;
    display: none;
}
.containerright {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}
.bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #F7F8F9;
    padding: 40px 0px;
    font-variation-settings: 'wght' 700;
    margin-bottom: 5px;
    line-height: 16px;
}
.bio-toptext {
    text-align: center;
    width: 75%;
    padding-top: 0px;
}
.bio-text {
    font-size: 1.275rem;
    color: #012B55;
}
.scroll-text {
    font-size: 1.4rem;
    color: #597188;
}
.bio-bottext {
    padding-top: 20px;
}
.pf-container {
    padding-top: 0px;
}
.images {
    width: 100%;
    
}
.pic1 {
    background-color: rgba(1, 43, 85, 1);
    position: relative;
    margin: 5px 0px;
}
.pic1-inner {
    position: inherit;
}
.pic1-text {
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: none;
    pointer-events: none;
}
.img1 {
    display: block;
    transition: all 0.2s ease;
}
.img1:hover {
    opacity: 30%;
}
.img1:hover ~ .pic1-text{
    display: block;
}
.year {
    font-style: italic;
    font-size: 1.5rem;
}
.production {
    font-size: 2.2rem;
}
.pf-container {
    display: flex;
    flex-direction: column;
}
.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    padding: 25px 0px;
}
.icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(1, 43, 85, 0.1);
    transition: 0.3s ease;
}
.icon-background:hover {
    background-color: #d1d6db;
}
.icon {
    width: 16px;
    height: 16px;
}
.linkedin {
    width: 14px;
    height: 14px;
}
.insta  {
    height: 12px;
    width: 12px;
}
.ender {
    padding-bottom: 20px;
}
.ender-text {
    font-size: 1.5rem;
    color: #8295A6;
    text-decoration: none;
}
.arrow {
    display: none;
    justify-content: center;
    align-items: center;
    color: #012B55;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: rgba(1, 43, 85, 0.1);
    border-radius: 5px;
    transition: 0.4s ease;
}
.arrow:hover {
    background-color: #4244462f;
}
.nav {
    display: none;
}
.link {
    text-decoration: none;
    color: rgb(65, 87, 109);
    transition: 0.2 ease;
    font-size: 1.46rem;
    line-height: 20px;
}
.list {
    list-style-type: none;
    padding-top: 10px;
}
.work {
    color: #012B55;
    font-variation-settings: 'wght' 700;
    font-size: 1.55rem;
}
.link:hover {
    color: #012B55;
}
.contact {
    padding-top: 25px;
}
.nav__contact {
    padding-top: 20px;
}
@media screen and (max-width: 900px) {
    .containerright.active {
        display: none;
    }
    .burger.active {
        display: none;
    }
    .clsbtn.active {
        display: inline-block;
    }
    .nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        line-height: 32px;
        min-height: 85vh;
    }
    .navbar.active {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .headertext.active {
        display: none;
    }
    .nav__contact.active {
        position: fixed;
        justify-content: center;
        width: 100%;
        background-color: white;
        bottom: -45px;
        padding-bottom: 40px;
        left: 50%;
        column-gap: 20px;
        transform: translate(-50%, -50%);
        border-top: 1px solid rgba(0, 0, 0, 0.08)
    }
    .menu.active {
        position: absolute;
        top: 30px;
        right: 20px;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .pf-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bio-text {
        font-size: 1.475rem;
    }
    .card:nth-child(2n+1) {
        width: 50%;
        padding-right: 5px;
    }
    .card:nth-child(2n) {
        width: 50%;
        padding-left: 5px;
    }
}
@media screen and (min-width: 900px) {
    .nav {
        display: block;
    }
    .arrow {
        display: flex;
    }
    body {
        margin: 0px 4%;
    }
    .pf-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bio {
        padding: 110px 0px 140px 0px;
        line-height: 32px;
    }
    .bio-text {
        font-size: 2.675rem;
        font-variation-settings: 'wght' 500;
    }
    .scroll-text {
        font-size: 1.7rem;
    }
    .card:nth-child(2n+1) {
        width: 50%;
        padding-right: 5px;
    }
    .card:nth-child(2n) {
        width: 50%;
        padding-left: 5px;
    }
    .container {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .navbar {
        min-width: 20%;
        margin-right: 5%;
        padding: 30px 4px 0px 0px;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .headertext {
        padding-bottom: 40px;
    }
    .menu {
        display: none;
    }
    .icons-container {
        padding-top: 60px;
    }
    .ender {
        padding-bottom: 50px;
    }
    .link {
        text-decoration: none;
        color: rgb(65, 87, 109);
        transition: 0.2 ease;
        font-size: 1.46rem;
        line-height: 20px;
    }
    .list {
        list-style-type: none;
        padding-top: 10px;
    }
    .work {
        color: #012B55;
        font-variation-settings: 'wght' 700;
        font-size: 1.55rem;
    }
    .link:hover {
        color: #012B55;
    }
    .contact {
        padding-top: 25px;
    }
    .nav__contact {
        padding-top: 20px;
    }
}