* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'El Messiri', sans-serif;
    scroll-behavior: smooth;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
h1 {
    font-size: 2rem;
    color: #012B54;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    border: none;
    background-color: white;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}
.bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #F7F8F9;
    padding: 40px 0px;
}
.bio-toptext {
    text-align: center;
    width: 60%;
    padding-top: 20px;
}
.bio-text {
    font-size: 1.375rem;
    color: #001a33;
}
.scroll-text {
    font-size: 1.4rem;
    color: #3d4c5a;
}
.bio-bottext {
    padding-top: 20px;
}
.pf-container {
    padding-top: 0px;
}
.images {
    width: 100%;
    
}
.pic1 {
    background-color: rgba(1, 43, 85, 1);
    position: relative;
    margin: 5px 0px;
}
.pic1-inner {
    position: inherit;
}
.pic1-text {
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: none;
    pointer-events: none;
}
.img1 {
    display: block;
    transition: all 0.2s ease;
}
.img1:hover {
    opacity: 30%;
}
.img1:hover ~ .pic1-text{
    display: block;
}
.year {
    font-style: italic;
    font-size: 1.5rem;
}
.production {
    font-size: 2.3rem;
}
.pf-container {
    display: flex;
    flex-direction: column;
}
.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    padding: 25px 0px;
}
.icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(1, 43, 85, 0.1);
    transition: 0.3s ease;
}
.icon-background:hover {
    background-color: #d1d6db;
}
.icon {
    width: 16px;
    height: 16px;
}
.linkedin {
    width: 14px;
    height: 14px;
}
.insta  {
    height: 12px;
    width: 12px;
}
.ender {
    padding-bottom: 20px;
}
.ender-text {
    font-size: 1.5rem;
    color: #8295A6;
    text-decoration: none;
}
.arrow {
    display: none;
    justify-content: center;
    align-items: center;
    color: #012B55;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: rgba(1, 43, 85, 0.1);
    border-radius: 5px;
    transition: 0.4s ease;
}
.arrow:hover {
    background-color: #4244462f;
}
@media screen and (min-width: 600px) and (max-width: 900px) {

}
@media screen and (min-width: 900px) {
    .arrow {
        display: flex;
    }
}